.nergibid {
    display: grid;
    grid-template-columns: 200px 75px;
    margin-bottom: 20px;
}

.nergibid1 {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}

.nergibid1 {
    margin-bottom: 20px;
}

.nergibid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
    row-gap: 10px;
}